#tblEmp{ width: 100%; }
#tblEmp td, #tblEmp th {
    border: 1px solid #ddd;
    padding: 5px;
}
#tblEmp th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #00008b;
    color: #fff;
}
#tblEmp tr:nth-child(even){ background-color: #f2f2f2; }
#tblEmp tr:hover { background-color: #ddd; }
#totalicon.mat-icon { 
    font-size:55px;
    height: 55px;
    width: 55px;
}
.border{
    border: 1px #000 solid;
}
#header{ padding:15px 0 }
.card{
    width:80%;
    height: 8vh;
    background-color: #ddd;
}
.card#icon{
    text-align: center;
}